.login{
  align-items: center;
  width: 30%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 7px;
}
.loginC{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.SignIN{
  text-align: center;
  margin-bottom: 7px;
}
.mb-3{
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 7px;
}
.control input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline:  #31b675 ;
}
.control input:focus{
  outline: 1px #31b675 solid;
}
.custom-control-label{
  margin-left: 4px;
}
.control3{
  margin-top: 20px;
}
.control4{
  margin-top: 30px;
}
.btn{
  width: 100%;
  background-color: #31b675;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: medium;
  margin-top: 7px;
}
.labelLogin {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 5px;
}
.mb-4{
  margin-top: 20px;
  margin-bottom: 5px;
}
.forgot-password{
  margin-top: 10px;
  margin-left: 300px;
  font-size: medium;
}
.signup{
  text-align: center;
  margin-top: 15px;
}