.roomHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.roomHome h2 {
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
}

/* .roomHome h2::after {
    content: "";
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    width: 100px;
    height: 5px;
    background-color: black;
    margin-top: 10px;
    border-radius:20px;
    margin-left: 35%;
    transform: scaleX(0.5);
    transition: transform 0.2s ease-in-out;
  }
  
  .roomHome h2:hover::after {
    transform: scaleX(1) ;
    background-color: #31b675;
  } */


.roomHome span {
    color: #31b675;
}

.roomHome .row2 {
    padding: 20px;
}

.roomCard {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
    background-color: white;
}
.roomCard  p:hover{
    color: #31b675;
}
.row2 :hover {
    color: #31b675;
}

.roomHome .row2 :hover {
    text-decoration: underline;
    color: #31b675;
    outline: #31b675;
}

.roomCard img {
    padding: -20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.roomText p {
    padding-left: 10px;
    padding-bottom: 9px;
    padding-top: 9px;
    font-weight: bold;
    color: black;
}

.tops {
    margin-top: 25px;
}
.roomHome button :hover{
    background: #147a49;
}
