.ammenity1{
    text-align: center;
}
.ammenity1 h2{
    font-weight: 500;
}
.ourrules2 h2{
    font-weight: 500;
}
.ourrules2 span{
    color: #31b675;
}
/* .ammenityHead{
    margin-top: 50px;
} */
.ovrammenity{
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
}
.imagecon{
    border-radius: 50%;
    background-color: #dad9d9;
    padding: 7px;
    padding-left: 9px;
    padding-right: 9px;
    box-shadow: rgba(74, 148, 102, 0.35) 0px 2px 3px;
}
.ammenitycol{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}
.indicator2{
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #dad9d9;
    margin-top: 25px;
    border-radius: 4px;
    box-shadow: rgba(74, 148, 102, 0.35) 0px 2px 3px;
}
.indicator2 p{
    text-align: center;
    font-weight: 500;
}
.ammenity1 .line{
    width: 15%;
    margin-top: 20px;
}
.allammenity{
    margin-top: 70px;
}
.allammenitys{
    margin-top: 25px;
    margin-bottom:150px;
}
.listammenity{
    display: flex;
    gap: 40px;
}
.listammenitys{
    display: flex;
    gap: 40px;
}
.listammenitys li{
    padding: 5px;
    margin-bottom: 3px;
}
.boldList{
    font-weight: bold;
}
.listammenitys ul{
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
}
.listammenity ul{
    list-style-type: disc;
    padding: 5px;
    margin-left: 30px;
    margin-top: 10px;
}
.listammenity li{
    list-style-type: disc;
    padding: 5px;
}
.listammenity h3{
    margin-left: 20px;
}

.listammenity hr{
    padding: 5px;
}

.ammenity1 span{
    color: #31b675;
}

.allammenityHead{
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.allammenityHead i{
    color: white;
}

.headerButton{
    display: flex;
}
.allammenityHead .line {
    width: 100%;
    margin: auto;
    margin-top: 15px;
    border-bottom: 1px dashed #999999;
    position: relative;
  }
  .allammenityHead .line::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #31b675;
    border-radius: 50%;
    top: -5px;
    left: -20px;
  }

  .allammenityHead .line::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #31b675;
    border-radius: 50%;
    top: -5px;
    right: -20px;
  }
.ourrules{
    margin-top: 50px;
    text-align: center;
}

.ourrules2 .line {
    width: 15%;
    margin: auto;
    margin-top: 15px;
    border-bottom: 1px dashed #999999;
    position: relative;
  }
  .ourrules2 .line::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #31b675;
    border-radius: 50%;
    top: -5px;
    left: -20px;
  }
  .ourrules2 .line::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #31b675;
    border-radius: 50%;
    top: -5px;
    right: -20px;
  }
.ourrules33{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}
 
  .ourselves22 {
    margin-right: auto;
  }
  
  .toggle-button {
    margin-left: auto;
    border-radius: 50%;
    background-color:#31b675;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
  }
  
  .paragraph {
    margin-top: 10px;
  }
  .paragraph2{
    padding: 15px;
}
.paragraph2 span{
    color:#31b675;
}
.fa-cc-mastercard{
    color: #F00;
    margin-left: 2px;
}
.fa-cc-visa{
    color: #1A1F71;
    margin-left: 2px;
}
.listammenitys i{
    font-size: larger;
}
.masterCard{
    display: flex;
    gap: 15px;
    padding: 10px;
}