.brief{
    display:flex;
    margin-top: 50px;
    justify-content: space-between;
    gap: 60px;
}
.ptag{
    margin-top: 10px;
    font-weight: 400;
}
.left{
    width: 90%;
}
.right{
    width: 100%;
}
.right h2{
    font-weight: 400;
}
.right p{
    font-size: small;
}
.left h2{
    color: #31b675;
    font-weight: 500;
}
.right_flex{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.expand{
    display: flex;
    margin-top: 25px;
}
.ind{
    display: flex;
    gap: 15px;
    padding: 10px;
}

.ammenity{
    margin-top: 25px;
    text-align: center;
}
.ammenity p{
    padding: 7px;
    border: 1px solid #31b675;
    border-radius: 7px;
    color: #31b675;
    width: 150px;
    font-weight: 400;
}
.ammenity p:hover{
    background: #31b675;
    color: white;
}