.membership h2{
    display: flex;
    justify-content: center;
    font-weight:300;
}
.membership span{
    color: #31b675;
}
.membership{
    margin-top: 60px;
}
.memberinfo{
   display: flex;
   justify-content: space-between;
   align-items: center; 
   flex-wrap: wrap;
   margin: 0 auto; 
   margin-top: 10px;
}
.mem_icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.mem_icon p{
    margin-top: 7px;
    flex-wrap: wrap;
    font-weight: 300;
}